<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="./fontFace.css">
		<style>

		</style>
		 <script src="../../../vue.js"></script>
		<script>
			
		</script>
	</head>

	<body>
		<div id="app">
			<input type="button" value="切换组件1" @click="tabComponent(1)" />
			<input type="button" value="切换组件2" @click="tabComponent(2)" />
			<input type="button" value="切换组件3" @click="tabComponent(3)" />
			<keep-alive>
				<component :is="currentView"></component>
			</keep-alive>
		</div>
		<script>
			

			var custom1 = Vue.component("custom1",{
				template:`<div ref="div" @click="addColorHandle">第1各组件</div>`,
				methods:{
					addColorHandle(){
						this.$refs.div.style.background = 'red';
					}
				}
			})
			var custom2 = Vue.component("custom2",{
				template:"<div>第2各组件</div>"
			})
			var custom3 = Vue.component("custom3",{
				template:"<div>第3各组件</div>"
			})

			new Vue({
				el:'#app',
				data:{
					currentView:custom1
				},
				methods:{
					tabComponent(index){
						if(index === 1){
							this.currentView = custom1
						}else if(index === 2){
							this.currentView = custom2
						}else if(index === 3){
							this.currentView = custom3
						}
					}
				}
			})
		</script>
	</body>
</html>