<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../src/dialog/css/demo.css" />
</head>

<body>
    <div class="content">
        <div class="tree-menu-comm tree-menu">
            <tree-list 
                :open="open" 
                :tree-date="model"
                @node-click="handleNodeClick"
            ></tree-list>
            <input type="button" value="添加数据" @click="addItem"  />
        </div>
        <div class="g-empty sort-folder-empty" a="1" :len='!currentItem.length' v-show="!currentItem.length">
            <div class="empty-box">
                <div class="ico"></div> 
                    <p class="title">暂无文件</p> 
                    <p class="content">请点击左上角的“上传”按钮添加</p>
                </div>
            </div>
        <div class="file-show">
            <file-list :file-data="currentItem" @file-click="handleFileClick"></file-list>
        </div>
    </div>
    <script src="../js/data.js"></script>
    <script src="../js/dataHandle.js"></script>
    <script src="../../../vue.js"></script>
    <script src="../../../jquery-3.1.1.js"></script>
    <script src="./file.js"></script>
</body>

</html>