<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../../vue.js">

    </script>
</head>
<body>
    <div id="app">
        <h3>父组件中的count</h3>
        <p>{{count}}</p>
        <custom-child :count="count" @change-count="changeCount"></custom-child>
    </div>
    <script>
        Vue.component("custom-child",{
           // props:['count'],
            props:{
              /*count:{
                  type:Number,
                  //default:10
                  required:true
              }*/
              count:{
                  validator(value){
                      console.log(value)

                      return value > 10;
                  }
              }
            },
            data(){
              return {
                  dataCount:this.count
              }
            },
            template:`<div>
                        <input type="button" value="改变count的值" @click="increment" />
                        <p>{{dataCount}}</p>
                      </div>`,
            methods:{
                increment(){
                    this.dataCount++;

                    this.$emit("change-count")
                }
            }
        })
        new Vue({
            el:"#app",
            data:{
                count:11
            },
            methods:{
                changeCount(){
                    this.count++;
                }
            }
        })
    </script>
</body>
</html>