<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../src/dialog/css/demo.css" />
</head>

<body>
    <div class="tree-menu-comm tree-menu">
        <tree-list 
            :open="true" 
            :tree-date="model"
            @node-click="handleNodeClick"
        ></tree-list>
        <input type="button" value="添加数据" @click="addItem"  />
    </div>
    <script src="../js/data.js"></script>
    <script src="../js/dataHandle.js"></script>
    <script src="../../../vue.js"></script>
    <script src="../../../jquery-3.1.1.js"></script>
    <script src="./tree3.js"></script>
</body>

</html>